[data]
    email = "jinzaizhichi9888@gmail.com"
    name = "jinzaizhichi"
    gpgKey = "jinzaizhichi9888@gmail.com"
    isWSL = {{ ne (lookPath "wsl.exe") "" }}
    isArch = {{ eq .chezmoi.osRelease.id "arch" }}
    isUbuntu = {{ eq .chezmoi.osRelease.id "ubuntu" }}
    isMac = {{ eq .chezmoi.os "darwin" }}
    username = "{{ .chezmoi.username }}"
    homeDir = "{{ .chezmoi.homeDir }}"

[gpg]
    recipient = "jinzaizhichi9888@gmail.com"

[edit]
    command = "nvim"

[diff]
    command = "nvim"
    args = ["-d"]
