{{- $email := "jinzaizhichi9888@gmail.com" -}}
{{- $name := "jinzaizhichi" -}}
{{- $gpgKey := "jinzaizhichi9888@gmail.com" -}}

{{- $isWSL := and (eq .chezmoi.os "linux") (lookPath "wsl.exe") -}}
{{- $isArch := eq .chezmoi.osRelease.id "arch" -}}
{{- $isUbuntu := eq .chezmoi.osRelease.id "ubuntu" -}}
{{- $isMac := eq .chezmoi.os "darwin" -}}

[data]
    email = {{ $email | quote }}
    name = {{ $name | quote }}
    gpgKey = {{ $gpgKey | quote }}
    
    # 系统检测
    isWSL = {{ $isWSL }}
    isArch = {{ $isArch }}
    isUbuntu = {{ $isUbuntu }}
    isMac = {{ $isMac }}
    
    # 用户名（跨平台）
    username = {{ .chezmoi.username | quote }}
    
    # 家目录
    homeDir = {{ .chezmoi.homeDir | quote }}

[gpg]
    recipient = {{ $gpgKey | quote }}

[git]
    autoCommit = true
    autoPush = true

[edit]
    command = "nvim"

[diff]
    command = "nvim"
    args = ["-d"]
