[data]
      email = "jinzaizhichi9888@gmail.com"
      name  = "jinzaizhichi"

[gpg]      
      recipient = "jinzaizhichi9888@gmail.com"
[git]
      autoCommit =true
      # autoPush = true
      #commitMessageTemplate = "{{promptString\"commit message\"}}"
