[user]
	email = {{ .email | quote}}
	name = {{ .name}}
	signingkey = {{ .email}}
[commit]
	gpgsign = true
[github]
	signingkey = {{ .email}}
	token = {{ pass "github/api/token" }}
[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
