[user]
	email = {{ .email | quote}}
	name = {{ .name}}
	signingkey = {{ .email}}
[commit]
	gpgsign = true
[github]
	signingkey = {{ .email}}
	token = {{ pass "github/api/token" }}
[core]
	pager = delta
[delta]
	navigate = true
	side-by-side = true
	line-numbers = true
	syntax-theme = gruvbox-dark
[interactive]
	diffFilter = delta --color-only
