#!/bin/bash



{{if eq .chezmoi.osRelease.id "arch"}}
pacman -S --noconfirm neovim
pacman -S --noconfirm --needed  base-devel

sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"
git clone https://github.com/zsh-users/zsh-autosuggestions ${ZSH_CUSTOM:-~/.oh-my-zsh/custom}/plugins/zsh-autosuggestions

{{end}}
{{if eq .chezmoi.osRelease.id "amzn"}}
sudo yum update
sudo yum install git base-devel
git clone https://github.com/neovim/neovim.git
cd neovim
make CMAKE_BUILD_TYPE=Release
sudo make install


{{end}}
