#!/bin/bash

{{ if eq .chezmoi.osRelease.id "arch" -}}
#!/bin/bash
pacman -Sy --noconfirm
pacman -S --noconfirm zsh
pacman -S --noconfirm git
pacman -S --noconfirm pass
git clone https://github.com/jinzaizhichi/.password-store.git
sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"
git clone https://github.com/zsh-users/zsh-autosuggestions ${ZSH_CUSTOM:-~/.oh-my-zsh/custom}/plugins/zsh-autosuggestions

{{else if eq .chezmoi.osRelease.id "amzn" -}}
#!/bin/bash
sudo yum update
sudo yum install zsh -y
sudo yum install git base-devel -y
git clone https://github.com/jinzaizhichi/.password-store.git
git clone https://git.zx2c4.com/password-store
cd password-store
sudo make install
{{end -}}
