# SSH 配置（由 chezmoi 渲染，主机数据见 .chezmoidata/hosts.toml）

Host {{ .hosts.aliyun.alias }}
    HostName {{ .hosts.aliyun.ip }}
    User {{ .hosts.aliyun.user }}
    Port {{ .hosts.aliyun.ssh_port }}
    IdentityFile ~/.ssh/aliyun-hangzhou.pem

Host {{ .hosts.lance.alias }}
    HostName {{ .hosts.lance.ip }}
    User {{ .hosts.lance.user }}
    Port {{ .hosts.lance.ssh_port }}
    IdentityFile ~/.ssh/lance

Host github.com
    Hostname ssh.github.com
    Port 443
    User git
